 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-3">
                <p><font size = "6">QolorQuest Games is a free indie games store developed by 2 passionate gamers, wanting to tell their stories by the means of a game.<br> All games are intricately hand-crafted with an emphasis on the experience, rather than the gameplay.</font></p>

        </div>
    </div>
</section>
