<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Meet the devs</h2>
				<hr class="star-primary">
			</div>
		</div>
        <div class="row">


            <div class="col-lg-4 col-lg-offset-2">
                <p><br>"I make games that are more focused on the plotline with gameplay serving as a tool to enhance the story."
                    <br><br>    ~Siddhant S [Sid]</p>            
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="img/sid.png" alt="profile-pic" />
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">
                <p><br></p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">
                <p><br>"I make games that has gameplay as one of the more important elements of the game."
                <br><br>    ~Shashank C [2nafish117]</p>
            </div>

            <div class="col-lg-4">
                <img class="img-responsive" src="img/2na.png" alt="profile-pic" />
            </div>
        </div>
        
	</div>
</section>
